*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.form-container{
  display: flex;
  justify-content: space-evenly;
}

.form{
  background-color: #ddd;
  flex-basis: 40%;
  justify-content: space-evenly;
  align-content: space-evenly;
  box-shadow: 0 0 2px 1px gray;
  margin: 20px 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  &__title{
    flex-basis: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }

  &__input{
    flex-basis: 40%;
    padding: 10px 20px;
    font-size: 16px;
    margin: 15px 0;
  }
  &__button{
    margin: 30px 0;
    padding: 10px 20px;
    border: 2px solid black;
    text-transform: uppercase;
    flex-basis: 60%;
    cursor: pointer;
  }
}
.result,.content,.footer{
  max-width: 1280px;
  margin: 0 auto;
}
.content{
  box-shadow: 0 0 2px 1px #ddd;
  margin: 20px auto;
  & *{
    margin: 10px;
  }
}
.footer{
  display: flex;
  background-color: #000;
  color: white;
  height: 80px;
  justify-content: center;
  align-items: center;

}
.result{
  display: grid; 
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  &__info{
    grid-column: 1/-1;
    text-align: center;
    

  }
  &__element-info{
    box-shadow: 0 0 2px 1px red;
  }
}